*{
   
    padding:0.1em;
}

.header-container{
    display: flex;
    justify-content: space-between;
   
}
.header-Restate{
    display: flex;
    margin-right:clamp(5rem, 64vw, 2rem);
    margin-left: 4rem;
   }

    
.house-icon{
    width:1.5rem;
    height:2rem;
   color:#1e90ff;
   margin-top:1rem;
   
    }

.header-nav nav{
    display: flex;
    gap:30px;
    margin-right:4rem;
    margin-top: 1rem;
   
    }

.header-nav nav li{
    list-style-type: none;
    color: rgb(53, 50, 50);
    font-weight: bold;
    white-space: nowrap;
    
}

.header-nav nav li:hover {
    color:#1e90ff;
    cursor:pointer;
}

.header-login{
   
    margin-right:10rem;
    margin-top: 0.8rem;
    
   
   
}
.header-login button{
    width: 70px;
    height:40px;
    border-radius:20px;
    font-size: 1rem;
    font-weight: bold;
    background-color:#1e90ff ;
    color: white;
    border: 1px solid #1e90ff ;
}




.bar{
    display:none;
}
@media screen and (max-width:762px)  {

    
   .header-nav{
      display: none;
    }

        .bar{
            display: flex;
            margin-right:10rem;
          
          
        }

    .bar-icon{
        width: 40px;
        height: 40px;
        color: black;
        margin-top: 1rem;
}


 .header-login {
     margin-right:2rem;
 }

 
 


}

@media screen and (min-width:1423px){

    .header-login{
        margin-right:5rem;
    }

}


/*=========================================================================*/

/*navbar*/
.navbar{
    width: 100%;
    height: 70% !important;
    background-color:rgb(1, 1, 48);
    position: absolute;
    top:5rem;
     left:35px;
    z-index:2;
    
}
.navbar ul{
    display: flex;
    flex-direction: column;
   
    gap:50px;
    margin-top: 4rem;
   
}

.navbar ul li{
    list-style-type: none;
    color: white;
    display:block;
    width:100%;
    height:50px;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-top: 1rem;
}
.navbar ul li:hover{
   
    background-color:#1e90ff;
    transform: scaleX(120%);
    }


@media screen and (min-width:762px) {
    .navbar{
        display: none;
    }
}

@media screen and (max-width:722px) {
   .navbar{
    left:40px;
   }
}